<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Catalogue Restaurant for you">
    <meta name="theme-color" content="#CC3636">
    
    <link rel="apple-touch" href="icons/icon-192x192px">
    <link rel="icon" href="./favicon.png">
    <link rel="manifest" href="./app.webmanifest">

    <!-- menggunakan library CDN untuk icon (font-awesome) fitur like -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    
    <title>Gramm Restaurant</title>
</head>
<body>
    <!-- Skip to content -->
   <a href="#mainContent" class="skip-link">Skip To Content</a>

    <header class="app-bar">
        <div class="app-bar__menu">
          <button id="hamburgerButton" aria-label="navigation-menu">☰</button>
        </div>

        <div class="app-bar__brand">
          <h1>Gramm Restaurant</h1>
        </div>

        <nav id="navigationDrawer" class="app-bar__navigation">
          <ul>
            <li><a href="#/home-restaurant">Home</a></li>
            <li><a href="https://www.linkedin.com/in/sri-rahayu-indiani-352189245/" target="_blank" rel="noreferrer">About Us</a></li>
            <li><a href="#/favorite">Favorite</a></li>
          </ul>
        </nav>
    </header>
    
    <hero-restaurant tabindex="0" class="hero"></hero-restaurant>

    <main tabindex="0" id="mainContent"></main>
    
    <footer>
        <p tabindex="0">Copyright &copy; 2022 || Gramm Restaurant Apps</p>
    </footer>
</body>
</html>